{% spaceless %}
{% load wagtailuserbar %}
{% load wagtailtrans_tags %}

<!DOCTYPE html>
{% endspaceless %}
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% get_translations page homepage_fallback=False include_self=False as translations %}
        {% for language, page in translations.items %}
        <link rel="alternate" href="{{ page.full_url }}" hreflang="{{ language.code }}">
        {% endfor %}

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {{ translation_urls }}

        <div class="language-selector-container">
            {% render_language_selector page %}
        </div>

        {% block content %}
        {% endblock %}

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
