{% extends "wagtailadmin/generic/index.html" %}
{% load i18n translations_wagtail_admin %}
{% block listing %}
    {% languages_per_site_enabled as languages_per_site %}
    <div class="nice-padding">
        {% if languages %}
            <div id="sites-list">
                <table class="listing">
                    <thead>
                        <tr>
                            <th>{% trans "Name" %}</th>
                            <th>{% trans "Code" %}</th>
                            <th>{% trans "Position" %}</th>
                            {% if not languages_per_site %}<th>{% trans "Default" %}</th>{% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for language in languages %}
                            <tr>
                                <td class="title">
                                    <a href="{% url 'wagtailtrans_languages:edit' language.id %}">{{ language }}</a>
                                </td>
                                <td class="title">{{ language.code }}</td>
                                <td>{{ language.position }}</td>
                                {% if not languages_per_site %}
                                    <td class="title">
                                    {% if language.is_default %}
                                        {% trans 'Yes' %}
                                    {% endif %}
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        {% else %}
            {% url 'wagtailtrans_languages:add' as add_language_url %}
            <p>{% blocktrans %}No languages have been created. Why not <a href="{{ add_language_url }}">add one</a>?{% endblocktrans %}</p>
        {% endif %}
    </div>
{% endblock %}
