# Database
# https://docs.djangoproject.com/en/1.10/ref/settings/#databases
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'wagtailtrans_sandbox',
        'HOST': 'POSTGRES_HOST',
        'USER': 'POSTGRES_USER',
        'PASSWORD': 'POSTGRES_PASSWORD',
    }
}
